.App {
  text-align: center;
  background: #B8CFE2;
  margin: 0;
  min-height: 100vh;
  color: #FFF;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App h1 {
  margin: 0;
  padding-top: 10px;
}

a {
  color: #FFF;
  text-decoration: none;
}

.credit {
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
}

@media only screen and (max-width: 700px) {
  .App {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
  }
  .App {
    padding-bottom: 10%;
  }
}

@media only screen and (max-width: 500px) {
  
}