.Form {
    text-align: left;
    display: block;
    background: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    box-shadow: 2px 2px 10px 0 rgba(46,46,46,0.21);
    height: 351px;
    overflow: hidden;
}


.Form input {
    font-size: 15px;
    margin: 5px 0px 20px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    outline: 0;
    padding: 10px;
    width: 220px;
    box-sizing:border-box;
}

.Form .label {
    font-size: 12px;
    color: #B3B7BD;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

.Form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.Form .update-btn {
    background: #292E42;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    color: #FFF;
    padding: 14px 0;
    width: 150px;
    border: none;
}

@media only screen and (max-width: 775px) {
    .Form input {
        width: 150px;
    }
}

@media only screen and (max-width: 700px) {
    .Form {
        height: 300px;
        margin-bottom: 20px;
    }
    .Form input {
        width: 225px;
    }
}